.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}

.proceed-link {
    text-decoration: none;
}

.proceed-btn {
    width: 90%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #F90;
    border-radius: 4px;
    font-size: 21px;
    margin: 10px auto;
}